<h1>Editing Question</h1>

<%= render :partial =>  'form',locals: {question: @question} %>

<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 15px;">
  <%= link_to 'Show', @question %> |
  <%= link_to 'Back', questions_path %>

</div>
