<h1>New Question Detail</h1>
<div class="row">
	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <%= render partial: 'form', locals: {question: @question, question_details: @question_details} %>
	</div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= link_to 'Back', question_question_details_path(@question),class: "btn btn-success"  %>
  </div>
</div>