<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <% if @questions.blank? %>
    <div class="alert alert-warning">
    	<p>Are currently no questions for more</p>
    </div>
    <% else %>
        <h1>New Test Question</h1>
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Questions</th>
            <th>action</th>
          </tr>
          </thead>
          <tbody>
          <% @questions.each do |question| %>
              <tr>
                <td><%= question.content %></td>
                <td><%= link_to "add question", test_test_questions_path(@test.id,test_question:{:question_id => question.id, :test_id => @test.id, :sort => @test_question_count+1}),method: :post %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= link_to 'Back', test_test_questions_path, class: 'btn btn-success' %>
  </div>
</div>

