.container{
    margin: auto;
    max-width: 570px;
    margin-top: 10px;
}

.panel{
    min-height: 200px;
}

.icon{
    max-width:30px;
    max-height:30px;
}

.images{
    margin-top: 10px;
    margin-right: 10px
}

.form-control{
    width: 100%
}

.width-100{
    width: 100%
}


.top-menu{

}
.admin-content{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -10px;
}

.menu-left{

}

.content-right{

}

.list-group{
    font-size: 14px;
    font-weight: bold;
}

