// Place all the styles related to the Tests controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-tests{
  padding: 20px;
  .table{
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: 13px;
    a{
      &:hover{
        background: transparent;
        color: #81e494;
      }
    }
  }
}